<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/navbar.ejs') %> 

    
    <div class="container">
        <hr>
        <div class="card">

            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>

            <div class="card-body">
                <hr>
                <form method="post" action="/articles/save">
                    <input class="form-control"type="text" name="title" placeholder="Defina um título para o artigo" required>
                    <br>
                    <textarea class="form-control" name="body" id="article" cols="30" rows="10"></textarea>
                    <br>
                    <label for="category">Categoria</label>
                    <select class="form-control" name="category" id="category">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.idCategory %>"><%= category.title %></option>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>

        </div>

    </div>

</body>

<%-include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins:[
            'advlist autolink link images lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script> 