<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>
    <br>
    
    <div class="container">

        <% result.articles.rows.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>

                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">ler artigo</a>
                </div>
            </div>
            <br>
            <hr>
        <% }) %>

        <hr>
        <div class="row">
            <div class="col col-12">
                <% if(result.page > 2) { %>
                <a style="float: left;" href="/articles/page/<%= result.page - 1 %>"><i class="fas fa-angle-double-left"></i></a>
                <% } else if (result.page == 2) {%>
                    <a style="float: left;" href="/"><i class="fas fa-angle-double-left"></i></a>
                <% } %>

                <% if(result.next) { %>
                    <a style="float: right;" href="/articles/page/<%= result.page + 1 %>"><i class="fas fa-angle-double-right"></i></a>
                <% } %>
                
            </div>
            
        </div>
        <hr>

    </div>


</body>

<%-include ('../../partials/footer.ejs') %> 