<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/navbar.ejs') %>
    
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
        <hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <th><%= category.idCategory %></th>
                        <th><%= category.title %></th>
                        <th><%= category.slug %></th>
                        <th>
                            <a href="/admin/categories/edit/<%= category.idCategory %>" class="btn btn-warning">Editar</a>

                            <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event,this)">
                                <input type="hidden" name="id" value="<%= category.idCategory %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                            
                        </th>
                    </tr>
                <% }) %>


            </tbody>

        </table>
    </div>

    

</body>
<script>

    function confirmDelete(event, form){
        event.preventDefault();
        let decision = confirm("Você deseja realmente deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }

</script>

<%-include ('../../partials/footer.ejs') %> 