<%-include ('partials/header.ejs') %> 
<body>
    <%-include ('partials/homenavbar.ejs') %>
    <br>
    
    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Este é um sistema de blog que está em desenvolvimento :D</p>
            <hr class="my-4">
            <p>Obrigado por acessar! att. Ruan Almeida</p>
          </div>

        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>

                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">ler artigo</a>
                </div>
            </div>
            <br>
            <hr>
        <% }) %>
    </div>


</body>

<%-include ('partials/footer.ejs') %> 